RHOMBUS_BASE_URL=
RHOMBUS_EMAIL=
RHOMBUS_PASSWORD=
AZURE_STORAGE_ACCOUNT=
AZURE_SOURCE_CONTAINER=
AZURE_OUTPUT_CONTAINER=
AZURE_SOURCE_CONNECTION_STRING=
AZURE_OUTPUT_CONNECTION_STRING=
RUN_TIMEOUT_SECONDS=
POLL_INTERVAL_SECONDS=
RHOMBUS_API_BASE=
RHOMBUS_BEARER_TOKEN=
RHOMBUS_ORG_ID=
RHOMBUS_PROJECT_ID=
